<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>업데이트</title>
</head>
<body>
    <h3>수정하기</h3>
    <hr />
    <form action='/board/t2_update' method='post'>
        <table border='1'>
            <tr>
                    <input type='hidden' name='no'   value='{{one.no}}'  />
                <td><input type='text'   name='name' value='{{one.name}}'/></td>
                <td><input type='text'   name='kor'  value='{{one.kor}}' /></td>
                <td><input type='text'   name='eng'  value='{{one.eng}}' /></td>
                <td><input type='text'   name='math' value='{{one.math}}'/></td>
            </tr>
        </table>
        <input type ='submit' value='수정' />
    </form>
    <a href='/board/t2_list'>목록</a>
</body>
</html>