<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        //문서가 모두 로드되었다는 이벤트 발생시 자동호출
        //DOM(Document Object Model) tree가 로드되었다
        //아래 두줄 상동
        //$(document).ready(function(){
        $(document).ready(()=>{
            console.log(1)
        })
    </script>
</head>

<body>
    <div>
        <fieldset>
            <textarea class='oriInput'>원문을 입력하세요</textarea>
            <br>
            <button id='LangDetectBtn'>언어감지</button>
            <br>
            <button>번역</button>
            <br>
            <textarea>번역문을 입력하세요</textarea>
        </fieldset>
    </div>
    <script>
        //내가 조작할 모든 요소가 메모리에 다 로드되었다
        console.log(2)
        //언어감지 버튼을 찾아서, click이벤트를 적용해라
        //$('css selector') => html내에 특정요소를 특정/찾기
        //$('css selector').on('이벤트',
        //          콜백함수(이벤트가발생하면 실제적으로 일하는함수)) 
        $('#LangDetectBtn').on('click', ()=>{
            // ajax를 이용, 원문들고 서버로 request수행
            // http프로토콜로 통신, 데이터를 들고가는 방식:메소드
            // 메소드:get, push, post, ...
            // 통신, ajax, post, 수단 => js
            console.log( $('.oriInput').val() )
            $.post({
                'url':'/LangTypeDetect',              // 서버주소
                'data':'ori=' + $('.oriInput').val(),// 파라미터
                'dataType':'json',      // 서버가 json으로 응답한다
                'success':( resJson )=>{}, // 통신성공후
                'error':function ( err ){
                    console.log('통신실패', err)
                }, // 통신실패후
            })
            alert('호출')
        })
        //$('css selector').on('', function(){})
        //표준함수
        //function a(){}
    </script>
</body>

</html>