<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   
</head>

<body>
    <!-- 화면보이는 부분 시작 -->
    <div>
        <h2>제목</h2>
        <h2 class='food'>점심</h2>
        <button>색변경</button>
        <button id='blackBtn'>글자색검정으로변경</button>
    </div>
    <!-- 화면 보이는 부분 끝 -->
    <script>
        // h2을 찾아서,
        // $('css selector') : 요소를 찾는 방법
        // 문서상에 존재하는 모든 h2 => 리스트, 배열..
        $('h2')
        // h2를 찾아서 빨간색으로 처리(DOM조작-css)
        $('h2').css('color', 'red')
        // 색변경 버튼누르면(click, 값change 대표적 event) 
        // h2의 하위 글자색이 파랑색으로 바뀐다.
        $('button').on('click', ()=>{
            $('h2').css('color', 'blue')
        })
        // 아이디가 blackBtn인 요소를 찾아서(단수,id값 고유)이벤트등록
        // id-클래스-부모자식관계-자식서열-특성속성
        $('#blackBtn').on('click', ()=>{
            $('h2').css('color', 'black')
        })
    </script>
    <script>
        // jQuery : javascript framework의 가장 전통적인 제품
        // 손쉽게 js를 사용할 수 있어서 생산성을 극대화
        // 대부분의 js들이 jQuery를 기반으로 구현되었다.

        // 미션 1(DOM조작) : 색변경 버튼을 누르면 h2의 글자색을 
        // 빨간색으로 처리하시오(화면에 보이는 즉시)
        
        // 1. 요소(element)를 찾는다
        // 1. 그 요소에 이벤트를 준다. or 요소를 조작한다.
        // or
        // 1. 기타 통신처리(ajax)
    </script>
   
</body>

</html>