<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>관리자 회원정보수정</h3>
    <form action='/member/auth_edit' method='post'>
        {% csrf_token %}
        아이디 : <input type='text' name='username' 
            value='{{obj.username}}' readonly/><br />
        이름   : <input type='text' name='first_name' 
            value='{{obj.first_name}}'/><br />
        이메일 : <input type='text' name='email' 
            value='{{obj.email}}'/><br />
        <input type='submit' value='로그인' />
    </form>
</body>
</html>