<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>러그인</title>
</head>
<body>
    <form action='/member/auth_login' method='post'>
        {% csrf_token %}
        아이디 : <input type='text' name='username' /><br />
        암호   : <input type='password' name='password' /><br />
        <input type='submit' value='로그인' />
    </form>
</body>
</html>