<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action = "/member/auth_pw" method='post'>
        {% csrf_token %}
        기존암호 : <input type='password' name='pw' /><br />
        새암호   : <input type='password' name='pw1' /><br />
        새암호   : <input type='password' name='pw2' /><br />
        <input type ='submit' value='암호변경' />
    </form>
</body>
</html>