<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>일괄업데이트</title>
    <link  rel="stylesheet" href="/static/css/bootstrap.min.css" />
</head>
<body>
    <h3>수정하기</h3>
    <hr />
    <form action='/member/exam_update' method='post'>{% csrf_token %}
    <input type='hidden' name='menu' value='update' />
        <table border='1'>
        {% for one in list %}
        <tr>
            <td><input type='text' name='no[]'        value='{{one.no}}' readonly/></td>
            <td><input type='text' name='name[]'      value='{{one.name}}'  /></td>
            <td><input type='text' name='kor[]'       value='{{one.kor}}' /></td>
            <td><input type='text' name='eng[]'       value='{{one.eng}}' /></td>
            <td><input type='text' name='math[]'      value='{{one.math}}'/></td>
            <td><input type='text' name='classroom[]' value='{{one.classroom}}'/></td>
        </tr>
        {% endfor %}
        </table>
    <input type ='submit' value='일괄수정' />
    <a href='/member/exam_select'>목록</a>
    </form>
</body>
</html>