<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>인서트</title>
</head>
<body>
    <h3>insert</h3>
    <hr />
    <form action='/member/exam_insert' method='post'>{% csrf_token %}
        <table border='1'>
            {% for i in cnt %}
            <tr>
                <td><input type='text' name='name[]'      value= '' /></td>
                <td><input type='text' name='kor[]'       value= 84 /></td>
                <td><input type='text' name='eng[]'       value= 75 /></td>
                <td><input type='text' name='math[]'      value= 69 /></td>
                <td><input type='text' name='classroom[]' value=303 /></td>
            </tr>
            {% endfor %}
        </table>
        <input type ='submit' value='추가' />
        <a href='/member/exam_select'>목록</a>
    </form>
</body>
</html>