<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {{request.path}}
        {%
        str=request.path
        arr=str.split('/')
        %}
        {{arr}}
    </title>
    <!-- Bootstrap core CSS -->
    <link  rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <style>
            .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            }
    
            @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
            }
        </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/css/pricing.css" />
</head>
