<!--주석문-->
<!--단축키는 ctrl ?-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>join</title>
</head>
<body>
    <h3>회원가입</h3>
    <hr />  
    
    <form action="/member/join" method="post"> 
    아이디  : <input type="text" name="id" /><br />
    암호    : <input type="password" name='pw'/><br />
    암호확인: <input type="password" /><br />
    이름    : <input type="text" name = "name"/><br />
    나이    : <input type="number" name = "age"/><br />
    <input type="submit" value="회원가입" />
    </form>

    <form action='/member/index' method='get'>
    <input type='submit' value='홈' />
    </form>
    
</body>
</html>