<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>join1</title>
<!--html 페이지 별 스타일 전체 주기
    <style>
    .mybox{
        width:600px;
        border:1px solid #cccccc;
        padding:50px;
        margin-bottom: 10px;
    }
    </style> -->   
<!--여러 html 페이지에 스타일 주기 
    href에 현재경로에서 Change Directory 할것을 적는다-->
    <link rel='stylesheet' href='/static/css/mystle.css'/>
</head>
<body>
    <div class = 'mybox'>
        <input type = 'text'/>
        <input type = 'text'/>
        <input type = 'text'/>
    </div>
    
    <div class = 'mybox'>
        <input type = 'text'/>
        <input type = 'text'/>
        <input type = 'text'/>
    </div>
</body>
</html>

<!-- <h3>회원가입</h3>
<hr />  

<form action="/member/join" method="post"> 
아이디  : <input type="text" name="id" /><br />
암호    : <input type="password" name='pw'/><br />
암호확인: <input type="password" /><br />
이름    : <input type="text" name = "name"/><br />
나이    : <input type="number" name = "age"/><br />
<input type="submit" value="회원가입" />
</form>

<form action='/member/index' method='get'>
<input type='submit' value='홈' />
</form> -->
